build.xml
.classpath
.factorypath
.project
edu.uci.python.iml
edu.uci.python.test.iml
*.settings
nbproject
*.jar
*.zip
*.sha1
env
*.pyc
currentAnnotationProcessors
mxbuild/mx.zippy/savedDeps
mxbuild
workingsets.xml
.idea
ZIPPY.dist
mx.zippy/eclipse-launches
asv
*.json
